{% extends "base.html" %}
{% block title %}
    Sign Up
{% endblock %}

{% block head_account %}
    <link href="{{ url_for('static', filename='statics/css/account.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <section class="sign-section">
        <div class="form-container">
            {% include 'includes/messages.html' %}
            <form method="POST">
                {{ form.csrf_token }}
                <fieldset class="uk-fieldset">
                    <legend class="uk-legend">회원 가입</legend>

                    <div class="uk-margin">
                        {{ form.email(class="uk-input mt-5", placeholder="이메일", required="required") }}
                    </div>

                    <div class="uk-margin">
                        {{ form.password(class="uk-input mt-5", placeholder="비밀번호", required="required") }}
                    </div>

                    <div class="uk-margin">
                        {{ form.repassword(class="uk-input mt-5", placeholder="비밀번호 확인", required="required") }}
                    </div>

                    <button class="uk-button uk-button-primary uk-width-1-1 mt-10" type="submit">가입하기</button>
                </fieldset>
            </form>

            <div class="link-div mt-20">
                <a class="uk-link-reset" href="{{ url_for('accounts.login') }}">로그인</a>
            </div>
        </div>
    </section>

{% endblock %}