{% extends "base.html" %}

{% block title %}
    카트
{% endblock %}

{% block head_css %}
    <link href="{{ url_for('static', filename='statics/font-awesome-5.15.1/css/all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='statics/css/order.css') }}" rel="stylesheet">
{% endblock %}

{% block head_js %}
    <script>
        cancelPayAjax = "{{ url_for("orders.cancel_pay_ajax") }}"

        CSRF_TOKEN = "{{ csrf_token() }}"
    </script>
{#    <script src="{{ url_for('static', filename='statics/js/orders/iamport.payment-1.1.8.js') }}"></script>#}

{% endblock %}

{% block above_main %}
    <div>

    </div>
{% endblock %}

{% block main_100 %}
    <section class="section-main cart-section">
        <article class="article-container pt-10">
            <div class="board-container main-width">
                {% if device == "pc" %}
                    주문결제일: {{ order_transaction.created_at|daytime("medium") }}<br>
                    주문번호: {{ order.order_num }}<br>
                    {% for order_product in order_productitems %}
                        주문 샾: {{ order_product.shopcategory.title }} <br>
                        {% for profile in order_product.shopcategory.user.profile_user_set %}
                            {{ profile.nickname }} <br>
                            핸드폰: {{ profile.main_cellphone }} <br>
                        {% endfor %}
                        주문 상품: {{ order_product.product.title }} <br>
                        수량: {{ order_product.pd_subtotal_quantity }}개 <br>
                        상품 금액: {{ order_product.pd_subtotal_price|intcomma }}원 <br>
                        <hr>
                        {% for order_op in order_optionitems %}
                            {% if (order_op.product_id == order_product.product_id) and (order.id == order_op.order_id) %}
                                order_op.op_title: {{ order_op.op_title }} <br>
                                order_op.op_price: {{ order_op.op_price|intcomma }}원 <br>
                                order_op.op_quantity: {{ order_op.op_quantity }}개 <br>
                                order_op.op_line_price: {{ order_op.op_line_price|intcomma }}원 <br>
                            {% endif %}
                            <hr>
                        {% endfor %}
                    {% endfor %}

                    <hr>
                    {% if point_log %}
                        {% if point_log.is_cancel == True %}
                            결제취소시 적용취소된 포인트:<br>
                            {{ point_log.used_point|intcomma }}원<br>
                        {% else %}
                            할인 적용된 포인트: <br>
                            {{ point_log.used_point|intcomma }}원<br>
                        {% endif %}
                    {% endif %}

                    {% if order_coupons %}
                        <!--적용취소쿠폰 cancel-->
                        {% for order_coupon in order_coupons %}
                            {% if order_coupon.is_cancel == True %}
                                결제취소시 적용취소된 쿠폰:<br>{% break %}
                            {% endif %}
                        {% endfor %}
                        {% for order_coupon in order_coupons %}
                            {% if order_coupon.is_cancel == True %}
                                {{ order_coupon.coupon.code }}({{ order_coupon.coupon.amount|intcomma }}원) <br>
                            {% endif %}
                        {% endfor %}

                        <!--적용쿠폰 no cancel-->
                        {% for order_coupon in order_coupons %}
                            {% if order_coupon.is_cancel == False %}
                                쿠폰 할인금액:: {{ order.order_coupon_total()|intcomma }}원 <br>
                                사용된 쿠폰: <br>{% break %}
                            {% endif %}
                        {% endfor %}

                        {% for order_coupon in order_coupons %}
                            {% if order_coupon.is_cancel == False %}
                                {{ order_coupon.coupon.code }}({{ order_coupon.coupon.amount|intcomma }}원) <br>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        사용한 쿠폰이 없어요! <br>
                    {% endif %}
                    주문금액: {{ order.total_order_amount|intcomma }}원<br>
                    총 할인금액 : {{ order.total_discount_amount|intcomma }}원<br>
                    배송비: {{ cart.get_total_delivery_pay()|intcomma }}원 <br>
                    결제금액: {{ order_transaction.amount|intcomma }}원<br>
                    결제방식: {{ order_transaction.type }}

                    {% if cancel_pay %}
                        <div>결제취소 완료</div>
                        결제취소 금액: {{ cancel_pay.ordertransaction.amount|intcomma }}원
                    {% else %}
                        {% include "includes/messages.html" %}
                        <div class="cancel-pay-alert main-width"></div>
                        <!--<input type="hidden" id="order-id" name="order-id" value="{{ order.id }}">-->
                        <input type="hidden" id="merchant-uid" name="merchant-uid" value="{{ order_transaction.merchant_order_id }}">
                        <input type="hidden" id="cancel-amount" name="cancel-amount" value="{{ order_transaction.amount }}">
                        <input type="hidden" id="pay-type" name="pay-type" value="{{ order_transaction.type }}">
                        <input type="text" id="cancel-reason" name="cancel-reason" class="uk-input" value="" placeholder="결제취소 사유">
                        <!--가상계좌의 경우 단방향 결제수단이여서 환불 대상을 알 수 없으므로,
                        환불 금액 외에 다음의 환불 수령계좌 정보를 입력해야 합니다.
                        <input type="text" id="refund-holder" name="refund-holder" class="uk-input" value=""  placeholder="예금주">
                        <input type="text" id="refund-bank" name="refund-bank" class="uk-input" value="" placeholder="환불은행">
                        <input type="text" id="refund-account" name="refund-account" class="uk-input" value="" placeholder="환불계좌번호">
                        -->
                        <button class="uk-button uk-button-default" type="button" uk-toggle="target: #cancel-pay-modal">결제 취소하기</button>
                        <div id="cancel-pay-modal" class="cancel-pay-modal uk-flex-top" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                                <button class="uk-modal-close-default" type="button" uk-close></button>
                                확인을 클릭하면 결제취소가 진행됩니다.
                                <div class="btn uk-align-right">
                                    <div class="uk-inline">
                                        <button class="uk-button uk-button-default uk-modal-close pd-m-close" type="button">취소</button>
                                    </div>
                                    <div class="uk-inline ml-15">
                                        <button id="cancel-pay"  class="uk-button uk-button-default uk-modal-close" type="button">확인</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <hr>
                    주문자: {{ order.name }} <br>
                    e-mail: {{ order.email }} <br>
                    전화번호: {{ order.phonenumber }} <br>
                    배송지: {{ order.postal_code }} / {{ order.address }} {{ order.detail_address }} {{ order.extra_address }} <br>
                    주문메모: {{ order.order_memo }}

                {% else %} <!--모바일-->
                    {% if imp_success != "true" %}
                        <h4>결제가 완료되지 않았어요!!</h4> <br>
                    {% endif %}
                    <!--결제시 아임포트가 보내주는 get data
                    <h4>{{ request }}</h4> <br>
                    <h4>{{ imp_uid }}</h4> <br>
                    <h4>{{ merchant_uid }}</h4> <br>
                    <h4>{{ imp_success }}</h4> <br>
                    <h4>{{ error_msg }}</h4> <br>
                    //-->

                    주문결제일: {{ order_transaction.created_at|daytime("medium") }}<br>
                    주문번호: {{ order.order_num }}<br>
                    {% for order_product in order_productitems %}
                        주문 샾: {{ order_product.shopcategory.title }} <br>
                        {% for profile in order_product.shopcategory.user.profile_user_set %}
                            {{ profile.nickname }} <br>
                            핸드폰: {{ profile.main_cellphone }} <br>
                        {% endfor %}
                        주문 상품: {{ order_product.product.title }} <br>
                        수량: {{ order_product.pd_subtotal_quantity }}개 <br>
                        상품 금액: {{ order_product.pd_subtotal_price|intcomma }}원 <br>
                        <hr>
                        {% for order_op in order_optionitems %}
                            {% if (order_op.product_id == order_product.product_id) and (order.id == order_op.order_id) %}
                                order_op.op_title: {{ order_op.op_title }} <br>
                                order_op.op_price: {{ order_op.op_price|intcomma }}원 <br>
                                order_op.op_quantity: {{ order_op.op_quantity }}개 <br>
                                order_op.op_line_price: {{ order_op.op_line_price|intcomma }}원 <br>
                            {% endif %}
                            <hr>
                        {% endfor %}
                    {% endfor %}

                    <hr>
                    {% if point_log %}
                        {% if point_log.is_cancel == True %}
                            결제취소시 적용취소된 포인트:<br>
                            {{ point_log.used_point|intcomma }}원<br>
                        {% else %}
                            할인 적용된 포인트: <br>
                            {{ point_log.used_point|intcomma }}원<br>
                        {% endif %}
                    {% endif %}

                    {% if order_coupons %}
                        <!--적용취소쿠폰 cancel-->
                        {% for order_coupon in order_coupons %}
                            {% if order_coupon.is_cancel == True %}
                                결제취소시 적용취소된 쿠폰:<br>{% break %}
                            {% endif %}
                        {% endfor %}
                        {% for order_coupon in order_coupons %}
                            {% if order_coupon.is_cancel == True %}
                                {{ order_coupon.coupon.code }}({{ order_coupon.coupon.amount|intcomma }}원) <br>
                            {% endif %}
                        {% endfor %}

                        <!--적용쿠폰 no cancel-->
                        {% for order_coupon in order_coupons %}
                            {% if order_coupon.is_cancel == False %}
                                쿠폰 할인금액:: {{ order.order_coupon_total()|intcomma }}원 <br>
                                사용된 쿠폰: <br>{% break %}
                            {% endif %}
                        {% endfor %}

                        {% for order_coupon in order_coupons %}
                            {% if order_coupon.is_cancel == False %}
                                {{ order_coupon.coupon.code }}({{ order_coupon.coupon.amount|intcomma }}원) <br>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        사용한 쿠폰이 없어요! <br>
                    {% endif %}

                    {% if imp_success == "true" %}
                        주문금액: {{ order.total_order_amount|intcomma }}원<br>
                        총 할인금액 : {{ order.total_discount_amount|intcomma }}원<br>
                        배송비: {{ cart.get_total_delivery_pay()|intcomma }}원 <br>
                        결제금액: {{ order_transaction.amount|intcomma }}원<br>
                        결제방식: {{ order_transaction.type }}

                        {% if cancel_pay %}
                        <div>결제취소 완료</div>
                        결제취소 금액: {{ cancel_pay.ordertransaction.amount|intcomma }}원
                        {% else %}
                            {% include "includes/messages.html" %}
                            <div class="cancel-pay-alert main-width"></div>
                            <!--<input type="hidden" id="order-id" name="order-id" value="{{ order.id }}">-->
                            <input type="hidden" id="merchant-uid" name="merchant-uid" value="{{ order_transaction.merchant_order_id }}">
                            <input type="hidden" id="cancel-amount" name="cancel-amount" value="{{ order_transaction.amount }}">
                            <input type="hidden" id="pay-type" name="pay-type" value="{{ order_transaction.type }}">
                            <input type="text" id="cancel-reason" name="cancel-reason" class="uk-input" value="" placeholder="결제취소 사유">
                            <!--가상계좌의 경우 단방향 결제수단이여서 환불 대상을 알 수 없으므로,
                            환불 금액 외에 다음의 환불 수령계좌 정보를 입력해야 합니다.
                            <input type="text" id="refund-holder" name="refund-holder" class="uk-input" value=""  placeholder="예금주">
                            <input type="text" id="refund-bank" name="refund-bank" class="uk-input" value="" placeholder="환불은행">
                            <input type="text" id="refund-account" name="refund-account" class="uk-input" value="" placeholder="환불계좌번호">
                            -->
                            <button class="uk-button uk-button-default" type="button" uk-toggle="target: #cancel-pay-modal">결제 취소하기</button>
                            <div id="cancel-pay-modal" class="cancel-pay-modal uk-flex-top" uk-modal>
                                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                                    <button class="uk-modal-close-default" type="button" uk-close></button>
                                    확인을 클릭하면 결제취소가 진행됩니다.
                                    <div class="btn uk-align-right">
                                        <div class="uk-inline">
                                            <button class="uk-button uk-button-default uk-modal-close pd-m-close" type="button">취소</button>
                                        </div>
                                        <div class="uk-inline ml-15">
                                            <button id="cancel-pay"  class="uk-button uk-button-default uk-modal-close" type="button">확인</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        결제 예정금액: {{ order_transaction.amount|intcomma }}원 <br>
                        <a href="{{ url_for('carts.cart_view') }}">다시 결제하러가기</a> <br>
                        <a href="{{ url_for("products.product_list") }}">쇼핑계속하기</a> <br>
                    {% endif %}

                    <hr>
                    주문자: {{ order.name }} <br>
                    e-mail: {{ order.email }} <br>
                    전화번호: {{ order.phonenumber }} <br>
                    배송지: {{ order.postal_code }} / {{ order.address }} {{ order.detail_address }} {{ order.extra_address }} <br>
                    주문메모: {{ order.order_memo }}

                {% endif %}

            </div>
        </article>
    </section>
    <script src="{{ url_for('static', filename='statics/js/orders/cancelPay.js') }}"></script>
{% endblock %}