<p>Hi {{email.split('@')[0]}}</p>
{{ user }}
<img src="http://newyoung.iptime.org/static/statics/images/product_1.jpg" alt="Image관련을 적어라">
<div>모든 send_mail을 하나의 유틸로 만들고 있다.</div>

{% if link is not none %}
    {% if add_if == "register" %}
        <h3>회원 등록 완료하기</h3>
        <p><a href="{{ link }}" id="a-link">여기를</a> 누르면 승인이 완료됩니다. </p>
        <p>승인이 완료하면 로그인이 가능합니다.</p>
        감사합니다.
    {% endif %}

    {% if add_if == "email_update" %}
        <h3>이메일 변경 인증 완료하기</h3>
        <p><a href="{{ link }}" id="a-link">여기를</a> 누르면 승인이 완료됩니다. </p>
        <p>승인이 완료하면 변경된 이메일로 로그인이 가능합니다.</p>
        감사합니다.
    {% endif %}

    {% if add_if == "not_verified" %}
        <h3>비밀번호 재설정후 인증완료하기</h3>
        <p><a href="{{ link }}" id="a-link">여기를</a> 누르면 승인이 완료됩니다. </p>
        <p>승인이 완료하면 변경한 비밀번호로로 로그인이 가능합니다.</p>
        감사합니다.
    {% endif %}

    {% if add_if == "forget_password" %}
        <h3>비밀번호 변경하기</h3>
        <hr>
        <p><a href="{{ link }}" id="a-link">여기를</a> 누르면 비밀번호 변경 화면으로 이동합니다. </p>
        감사합니다.
    {% endif %}

    <script>
        document.getElementById('a-link').href = "javascript:void(0)"
    </script>
{% else %}
    {% if add_if == "vendor_update" %}
    <h4>Vendor 업데이트</h4>
    감사합니다.
    {% endif %}
{% endif %}